* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background-color: #1c1c1c;
}

/* Editing Scrollbar */
/* width */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #7B68EE;
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b; 
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .8rem 1.5rem;
  background: linear-gradient(90deg, rgba(168,255,120,1)0%, rgba(120,255,214,1)100%);
  border-radius: 3rem;
  border: none;
}

button:hover {
  background: linear-gradient(90deg, rgba(120,255,214,1)0%, rgba(168,255,120,1)100%);
}
